.styleProduct .btn{
  transition: transform 1s  , opacity 1s;
  transform: translateY(100%);
  opacity: 0;


}

.styleProduct:hover .btn{

  transform: translateY(0%);
  opacity: 1;

}

.category-img{
  
  width: 100%;
  height: 200px;

}



